.accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-header {
    background-color: #a51f1f;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-item.active .accordion-content {
    max-height: 500px;
  }